<section class="blog-wrapper">
  {{ if  blogList.length > 0 }}
    <ul>
      {{ each blogList }}
      <li class="article">
          <!-- <Github class="github mouse-pointer" background="rgba(186, 164, 119, 0.99)" :link="$value.github" v-if="$value.github"></Github> -->
          <!-- <time>{{$value.createTime | parseTime('{y}-{m}-{d}')}}</time> -->
          <h2 class="name">{{$value.title}}</h2>
          <div class="tags">
              <!-- <Tag v-for="{tag, index} in $value.type" :text="tag" :key="index" :path="tag"></Tag> -->
          </div>
          <div class="desc">{{$value.desc}}</div>
          <div class="source">
              <img src="http://sowcar.com/t6/692/1553782948x986907160.png" alt="">
              <!-- <img v-else :src="require(`~/assets/images/source_single_${$value.source === 2?2:3}.png`)" alt=""> -->
          </div>
      </li>
      {{ /each }}
    </ul>
    {{ else }}
    <div class="none-data-wrapper">
      <img src="/images/none-data.png" alt="">
    </div>
    {{ /if }}
</section>